(images/projects/drum-kit.svg
images/projects/guess-my-number.svg
images/projects/modal-window.svg
images/projects/pig-game.svg
css/global.css
css/projects.css
pages/drum-kit.html
pages/guess-my-number.html
pages/modal-window.html
pages/pig-game.html
pages/projects.html)