@font-face {
    font-family: "Comic Sans M5 Bold";
    src: url("../Font File/comicbd.ttf");
}

:root {
    font-size: 24px;
    margin: 0.8em;
    border-radius: 2em;
    font-family: "Comic Sans M5 Bold";
    background-color: rgba(96, 163, 188, 1.0);

}

main {
    background-color: rgba(129, 236, 236, 1.0);
    border-radius: 45px;
    color: rgba(96, 163, 188, 1.0);

    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;

    max-width: 1200px;

}


.tableContainer {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: bisque;
    border-bottom: 0.08rem solid black;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid black;
    border-radius: 1rem;
    overflow: hidden;
}

#header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.5rem;
    color: rgb(13, 51, 205);
}


table thead tr:first-child th:first-child,
table thead tr:first-child td:first-child {
    border-top-left-radius: 1rem;
}

table thead tr:first-child th:last-child,
table thead tr:first-child td:last-child {
    border-top-right-radius: 1rem;
}

table thead tr:first-child {
    border-spacing: 1rem;
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}


.tableSub {
    padding: 0.5rem;
    text-align: center;
    border: 5px solid black;
    background-color: rgba(142, 68, 173, 1.0);
    color: rgb(0, 0, 0);
}

#enjoyParagraph,
#loremDiv {
    background-color: bisque;
    border-radius: 1rem;
    border-bottom: 0.08rem solid black;
    padding: 0.5rem 1rem;
    color: rgba(96, 163, 188, 1.0);
}


nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    justify-content: center;

    gap: 1rem;
    margin-top: 1rem;
}

nav a {
    background-color: antiquewhite;
    border-radius: 1rem;
    border-bottom: 0.08rem solid black;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    text-align: center;
    color: rgba(0, 105, 90, 0.8);
    transition: background 0.3s;
}

nav a:hover {
    background-color: #ddd;
}