@font-face {
  font-family: "Comic Sans M5 Bold";
  src: url("../Font File/comicbd.ttf");
}

:root {
  font-size: 16px;
  font-family: "Comic Sans M5 Bold";
  background-color: rgba(96, 163, 188, 1.0);
  
}

/* General container styling */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  overflow: hidden;
}

/* Form wrapper */
.form1 {
  background-color: rgba(129, 236, 236, 1.0);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  margin: 1em;
  color: rgba(96, 163, 188, 1.0);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 600px;
}

/* Form header */
.form1 h2 {
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* Each section uses flexbox */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 0.1rem;
}

.form1Input {
  border-radius: 10px;
  font-family: 'Segoe UI';
  padding: 0.5em 1em;
  flex: 1 1 40%;
}

#level,
#Skills {
  display: flex;
  flex-direction: row;
}

#level section,
#Skills section {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

#levelsLabel,
#skillsLabel {
  font-size: 18px;
}

/* Submit button centered */
.container5 {
  justify-content: center;
}

button.form1Input {
  flex: 0 1 auto;
  cursor: pointer;
  background-color: rgb(183, 207, 216);
  transition: background 0.3s;
  width: 100%;
}

button.form1Input:hover {
  background-color: rgba(96, 163, 188, 1.0);
}

/* Navigation bar */
#navBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

#navBar a {
  background-color: antiquewhite;
  border-radius: 1rem;
  border-bottom: 0.08rem solid black;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  color: rgba(0, 105, 90, 0.408);
  transition: background 0.3s;
}

#navBar a:hover {
  background-color: rgba(96, 163, 188, 1.0);
}